In [1]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [3]:
list = [10,20,14,55,43,87,76]
print(list)
print("Number of item in the List2:",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [5]:
stringWord = input("Enter the word")
print(stringWord)

for temp2 in stringWord:
    print(temp2)

Enter the word Artificial Intelligence

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
name = input("Enter you name")
age  = input("Enter your age")
profession = input("Enter your profession")
print(name)
print(age)
print(profession)

Enter you name Prasanth
Enter your age 15
Enter your profession Teacher

Prasanth
15
Teacher

In [11]:
tup = (1, 'welcome', 2, 'Hope')
print(tup)

(1, 'welcome', 2, 'Hope')

In [13]:
tuple1 = (0,1,2,3)
tuple2 = ('python','HOPE')
tuple3 = (tuple1, tuple2)
print(tuple1 + tuple2)
print(tuple3)

(0, 1, 2, 3, 'python', 'HOPE')
((0, 1, 2, 3), ('python', 'HOPE'))

In [19]:
list1 = [20,10,16,19,25,1,276,188]
print(tuple(list1))
for num in list1:
    if(num % 2 != 0):
        print(f"{num} is an odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is an odd
25 is an odd
1 is an odd

In [21]:
print(tuple(list1))
for num in list1:
    if(num % 2 == 0):
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even